

<section id="services" class="relative isolate overflow-hidden bg-gray-900 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 flex flex-wrap place-content-between">
    <div class="mx-auto max-w-xl lg:mx-0">
      <h2 class="text-4xl mb-12 font-bold tracking-tight text-white sm:text-6xl">Galería</h2>
    </div>
  </div>
</section>