---
import { Image } from 'astro:assets'
import Uno from '../assets/img-01.jpg'
---
<div class="bg-dark">
  <header id="home" class="absolute inset-x-0 top-0 z-50">
    <nav class="py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-gray-300 font-bold text-xl pt-0 ps-6">
        <a href="/" class="-m-1.5 p-1.5">
          Effeta
        </a>
      </div>
  
      <div class="md:hidden pe-6">
        <button id="mobile-menu-toggle" class="text-white focus:outline-none">
          <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(226, 223, 223);transform: ;msFilter:;">
            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
          </svg>
        </button>
      </div>
  
      <div class="hidden md:block">
        <ul class="nav-links space-x-8 text-white md:flex">
          <li><a href="#home" class="hover:text-gray-400 hover:underline">Home</a></li>
          <li><a href="#about" class="hover:text-gray-400 hover:underline">Quiénes Somos</a></li>
          <li><a href="#goals" class="hover:text-gray-400 hover:underline">Nuestros Objetivos</a></li>
          <li><a href="#services" class="hover:text-gray-400 hover:underline">Servicios</a></li>
          <li><a href="#gallery" class="hover:text-gray-400 hover:underline">Galería</a></li>
        </ul>
      </div>
    </div>
  
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="md:hidden hidden shadow-md shadow-gray-500/100 ">
      <ul class="nav-links flex flex-col items-center text-white p-4 mt-3">
        <li><a  href="#home" class="hover:text-gray-300">Home</a></li>
          <li><a  href="#about" class="hover:text-gray-300">Quiénes Somos</a></li>
          <li><a  href="#goals" class="hover:text-gray-300">Nuestros Objetivos</a></li>
          <li><a  href="#services" class="hover:text-gray-300">Services</a></li>
          <li><a  href="#galery" class="hover:text-gray-300">Galería</a></li>
      </ul>
    </div>
  </nav>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8 h-screen">
    <div class="header-img border border-gray-400/50">
      <Image 
        class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center opacity-35"
        src={Uno}
        alt="" 
      >
    </div>
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[855/678] w-[36.125rem] -translate-x-1/8 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      ></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-4xl mt-12 font-bold tracking-tight text-gray-300 sm:text-6xl">
          Corporación Chilena de Padres y Amigos de Personas Sordas
        </h1>
        <p class="mt-12 text-lg leading-8 text-slate-400">
          "Vivo con los que oyen, me comunico con ellos; vivo con los sordos, 
          me comunico todavía mejor; es lo normal. Pero el esfuerzo necesario
          para esta comunicación siempre lo tenemos que hacer nosotros. 
          Es cuestión de personalidad, de educación, de información"
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="#about"
            class="rounded-md z-10 bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Get started</a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</div>
<style>
  .header-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(17, 24, 39);
    background: linear-gradient(90deg, rgba(17, 24, 39, 0) 70%, rgba(17, 24, 39, 1) 100%),
    linear-gradient(180deg, rgba(17, 24, 39, 0) 70%, rgba(17, 24, 39, 1) 100%),
    linear-gradient(270deg, rgba(17, 24, 39, 0) 70%, rgba(17, 24, 39, 1) 100%);
  }
</style>

<script>
  function toggleMobileMenu () {
    var mobileMenu = document.getElementById('mobile-menu')
    mobileMenu?.classList.toggle('hidden')
  }
  document.getElementById('mobile-menu-toggle')?.addEventListener('click', toggleMobileMenu)
  document.getElementById('mobile-menu')?.addEventListener('click', toggleMobileMenu)
</script>
