---
import HandRight from '../icons/HandRight.astro'
import ServicesIcons from '../icons/ServicesIcons.astro'
---

<section id="services" class="relative isolate overflow-hidden bg-gray-900 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-5xl px-6 lg:px-8 flex flex-wrap place-content-between">
    <div class="mx-auto max-w-xl lg:mx-0">
      <h2 class="text-4xl mb-12 font-bold tracking-tight text-white sm:text-6xl">Nuestros Servicios</h2>
      
      <div class="mt-10 flex gap-4 ">
        <HandRight class="basis-1/4" />
        <p class="lg:text-2xl leading-8 text-gray-300 basis-full">
          Apoyo escolar.
        </p>
      </div>

      
      <div class="mt-8 flex gap-4 ">
        <HandRight class="basis-1/4" />
        <p class="lg:text-2xl leading-8 text-gray-300 basis-full">
          Taller de Lengua de Señas.
        </p>
      </div>

      <div class="mt-8 flex gap-4 ">
        <HandRight class=" basis-1/4" />
        <p class="lg:text-2xl leading-8 text-gray-300 basis-full">
          Confección de moldes a medida.
        </p>
      </div>

      <div class="mt-8 flex gap-4 ">
        <HandRight class=" basis-1/4" />
        <p class="lg:text-2xl leading-8 text-gray-300 basis-full">
          Fonoaudiología.
        </p>
      </div>

      <div class="mt-8 flex gap-4 ">
        <HandRight class=" basis-1/4" />
        <p class="lg:text-2xl leading-8 text-gray-300 basis-full">
          Mantención y reparaciones.
        </p>
      </div>
    
    </div>
    <div class="mx-auto max-w-xl lg:mx-0 lg:scale-150">
      <ServicesIcons />
    </div>
  </div>
</section>