<div id="about" class="blur-none  bg-gray-100 dark:bg-slate-900" >
  <div class="container mx-auto px-4 py-20 text-center">
    <h2 class="text-4xl mb-12 font-bold tracking-tight text-white sm:text-6xl">Quiénes Somos</h2>
    <p class="text-lg text-slate-400">
      EFFETA es la Corporación Chilena de Padres y Amigos de las Personas
      Sordasuna institución sin fines de lucro, que busca brindar tanto ayuda
      social como de integración a las personas sordas y/o con algún grado de
      pérdida auditiva, guiando, orientando y apoyando a las familias que tienen
      uno o más miembros con esta discapacidad sensorial. Fundada hace más de 36
      años, se inició el 1982 y la personalidad jurídica es otorgada por decreto
      ley Nº 276 del 18 de abril de 1986, del Ministerio de Justicia.
    </p>
    <br>
    <p class="text-lg text-slate-400">
      Nuestras actividades abarcan el área de la salud y educación para las personas con
      Discapacidad Auditiva de escasos recursos, personas de todas las edades y
      de todo el país.
    </p>
    <br>
    <p class="text-lg text-slate-400">
      El financiamiento de la organización se realiza por
      intermedio de donaciones, autogestión y postulación a diversos proyectos.
    </p>
  </div>
</div>
